---
import Case from '../components/Case.astro';
import Contact from '../components/Contact.astro';
import Hero from '../components/Hero.astro';
import Process from '../components/Process.astro';
import Services from "../components/Services.astro";
import Testimonial from '../components/Testimonial.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout title="Positivus">
	<main class="space-y-20">
		<Hero/>
		<Services/>
		<Case/>
		<Process/>
		<!-- <Team/> -->
		<Testimonial/>
		<Contact/>
	</main>
</Layout>