---
import Container from "./Container.astro"
import Topic from "./Topic.astro"
---
<Container>
<div class="relative flex flex-col items-center md:flex-row" id="projects">
    <Topic title="Casos de Éxito" description="Descubre Ejemplos Reales de Cómo Nuestro Sistema de Alarma Vecinal Ha Mejorado la Seguridad Comunitaria" />
</div>

<div class="w-full p-12 bg-zinc-900 rounded-[45px] justify-start items-start gap-16 inline-flex text-white">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-2 divide-x-0 md:divide-x divide-y md:divide-y-0">
        <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
            <div class="w-full text-lg font-normal">En un vecindario local, nuestro sistema de alarma telefónica redujo los tiempos de respuesta en emergencias en un 40%, aumentando la sensación de seguridad entre los residentes.</div>
            <div class="justify-start items-center gap-[15px] inline-flex">
                <div class="text-lime text-xl font-normal leading-7">Conoce más</div>
                <img src="/services/agc.svg" alt="arrow">
            </div>
        </div>
        <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
            <div class="w-full text-lg font-normal">En una comunidad rural, la integración de nuestro sistema con notificaciones automáticas a las autoridades redujo los incidentes delictivos en un 30% en el primer año.</div>
            <div class="justify-start items-center gap-[15px] inline-flex">
                <div class="text-lime text-xl font-normal leading-7">Conoce más</div>
                <img src="/services/agc.svg" alt="arrow">
            </div>
        </div>
        <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
            <div class="w-full text-lg font-normal">En un conjunto residencial, la implementación de nuestro sistema de alerta visual y sonora resultó en una cooperación comunitaria más sólida y una disminución de eventos no deseados.</div>
            <div class="justify-start items-center gap-[15px] inline-flex">
                <div class="text-lime text-xl font-normal leading-7">Conoce más</div>
                <img src="/services/agc.svg" alt="arrow">
            </div>
        </div>
    </div>
    
    <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
    <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
    
</div>

</Container>