---
import Container from "./Container.astro";
import Topic from "./Topic.astro";
import SwiperSlider from "./SwiperSlider.astro";
---

<Container>
  <div class="relative flex flex-col items-center md:flex-row">
    <Topic
      title="Testimonios"
      description="Escucha a Nuestros Clientes Satisfechos: Lee Nuestros Testimonios para Conocer Más sobre Nuestro Sistema de Alarma Vecinal"
    />
  </div>

  <div class="rounded-[45px] bg-black mb-[150px] text-white">
    <SwiperSlider />
  </div>
</Container>
